In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
data_dir='C:/Users/Animesh.Parikshya/Documents/IIM Classes/Data sets'
os.chdir(data_dir)
dat=pd.read_csv("loan.csv")
dat.head(5)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [3]:
df_encoded = dat.copy()

In [4]:
df_encoded.shape

(614, 13)

In [5]:
df_encoded.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [6]:
df_encoded.Gender.value_counts()

Male      489
Female    112
Name: Gender, dtype: int64

In [7]:
df_encoded['Gender'].fillna('Male',inplace=True) #Updating Gender Null Values
df_encoded['Married'].fillna('Yes',inplace=True) #Updating Married Null Values
df_encoded['Dependents'].fillna(0,inplace=True) #Updating Depedndants Null Values
df_encoded['Self_Employed'].fillna('No',inplace=True) #Updating Self_Employed Null Values
df_encoded['LoanAmount'].fillna(df_encoded['LoanAmount'].mean(),inplace=True) #Updating LoanAmount Null Values
df_encoded['Loan_Amount_Term'].fillna(df_encoded['Loan_Amount_Term'].mean(),inplace=True) #Updating Loan_Amount_Term Null Values 
df_encoded['Credit_History'].fillna(1,inplace=True) #Updating Credit_History Null Values

df_encoded['Dependents'] = df_encoded['Dependents'].astype(str) # Changing tye type of Dependents atibute to string

In [8]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [21]:
df_encoded['Gender'] = le.fit_transform(df_encoded['Gender'].values)
df_encoded['Married'] = le.fit_transform(df_encoded['Married'].values)
df_encoded['Dependents'] = le.fit_transform(df_encoded['Dependents'].values)
df_encoded['Self_Employed'] = le.fit_transform(df_encoded['Self_Employed'].values)
df_encoded['Education'] = le.fit_transform(df_encoded['Education'].values)
df_encoded['Property_Area'] = le.fit_transform(df_encoded['Property_Area'].values)
df_encoded['Loan_Status'] = le.fit_transform(df_encoded['Loan_Status'].values)

In [22]:
df_encoded.head(5)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,1,0,0,0,0,5849,0.0,146.412162,360.0,1.0,2,1
1,LP001003,1,1,1,0,0,4583,1508.0,128.000000,360.0,1.0,0,0
2,LP001005,1,1,0,0,1,3000,0.0,66.000000,360.0,1.0,2,1
3,LP001006,1,1,0,1,0,2583,2358.0,120.000000,360.0,1.0,2,1
4,LP001008,1,0,0,0,0,6000,0.0,141.000000,360.0,1.0,2,1

In [23]:
df_encoded.columns

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area', 'Loan_Status'],
      dtype='object')

In [24]:
feature_cols= ['Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area']

In [25]:
X= df_encoded[feature_cols]
Y = df_encoded['Loan_Status']

In [26]:
from sklearn.model_selection import train_test_split

In [27]:
X_train,X_test,y_train,y_test = train_test_split(X,Y,test_size=0.35,random_state=1)

In [28]:
from sklearn.tree import DecisionTreeClassifier

In [29]:
np.random.seed(42)
clf = DecisionTreeClassifier(criterion='gini')

In [30]:
clf = clf.fit(X_train, y_train)

In [31]:
y_pred = clf.predict(X_test)

In [32]:
from sklearn.metrics import accuracy_score
r2 = accuracy_score(y_test, y_pred)
print(r2)

0.7255813953488373

In [33]:
np.random.seed(45)
clf = DecisionTreeClassifier(criterion='entropy')
clf = clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)

In [34]:
type(y_test)

pandas.core.series.Series

In [35]:
type(y_pred)

numpy.ndarray

In [36]:
from sklearn.metrics import accuracy_score
r2 = accuracy_score(y_test, y_pred)
print(r2)

0.6511627906976745

In [ ]:
from sklearn import tree
import matplotlib.pyplot as plt
fig, ax = plt.subplots(figsize=(50, 60))
tree.plot_tree(clf, fontsize=20, filled=True, rounded=True)
plt.show()

In [ ]:
#export_graphviz , pydotplus

In [ ]:
from sklearn.tree import export_graphviz

In [ ]:
from sklearn.ensemble import BaggingClassifier
model = BaggingClassifier(clf)
model.fit(X_train, y_train)
model.score(X_test,y_test)

In [ ]:
#pip install pydotplus

In [ ]:
import pydotplus as pypi
from IPython.display import Image
dot_data = export_graphviz(clf)
graph = pypi.graphviz.graph_from_dot_data(dot_data)
Image(graph.create_png())